<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Assignment-4</title>
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <style>
    body {
    background-color: lightgreen;
}
    </style>
</head>
<body>
<marquee bgcolor="black"><font color="red">Play Trivia Game</font></marquee>
    <form>
        
        <a href="#" id="score_btn" style="display:none">Your Score</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <a href="#" id="que_btn_add" style="display:none">New question</a>
        <div id="show_score" style="display : none">
            <label style="color: blue">Right Answer : </label><label style="color: red" id="right_ans"></label><br>
            <label style="color: blue">Wrong Answer : </label><label style="color: red" id="wrong_ans"></label>
        </div>
        
        <div id="show_que"></div>
        <div id="que_add" style="display : none">
        Question--><input type="text" id="que_id" name="question"><br>
        Answer--> <input type="text" name="answer" id="ans_id"><br>
        <input class="btn" type="button" value="Submit" id="submitBtnId"><br>
        </div>

        <input type="button" value="Let's Play..!!" id="lets_play_btn"><br>
    </form>

    <script>
    $("#que_btn_add").click(function(){

        $("#que_add").show();
        $("#show_que").hide();
        $("#que_btn_add").hide();
        $("#lets_play_btn").hide();
    });

    $("#score_btn").click(function(){

        $("#show_score").show();
        

        $.ajax({
            method: "GET",
            url: "http://localhost:3000/score",
            crossDomain : true,
            dataType: "json"
            })
            .done(function(msg){
                if(msg.answer == false){
                    msg.answer = "false";
                    }
                console.log(msg);
                $("#right_ans").text(msg.right);
                $("#wrong_ans").text(msg.wrong);
            });
    });

     $("#submitBtnId").click(function(){

        alert("question set is stored in Database")
    });


    $(".btn").click(function(){
        
    var question = $("#que_id").val();
   // console.log(question);
    var answer = $("#ans_id").val();
    //console.log(answer);

    var data={
        "question":question,
        "answer":answer
    }    
    
    var dataJSON = JSON.stringify(data);
    console.log(dataJSON);
    $.ajax({
        method: "POST",
        url: "http://localhost:3000/question",
        crossDomain : true,
        dataType: "json",
        data: data 
        })
        .done(function( msg ) {

        if(msg.answer==false){
            msg.answer="false";
        }
        $("#show_que").show();
        $("#que_btn_add").show();
        $("#que_add").hide();

        var displayQuestions = function(element, index, array){

            //console.log(array);
            var len = array.length;
            console.log(len);
            if(index == array.length - 1){

                var $item = $('<div id="allQueId" class="btn">' +
                            '<label>Question : </label><input type="text" name="que" id="queId'+ index +'"><br>' +
                            '<label>Answer : </label><input type="text" name="ans" id="ansId"><br></div>' +
                            '<input type="button" value="Send" id="sendBtnId'+ index + '">');

                $("#show_que").append($item);
                $("#queId" + index).val(array[index].question);
            }

        }

        msg.forEach(displayQuestions);

        });    
    });

    $("#lets_play_btn").click(function(){

        

        $.ajax({
            method: "GET",
            url: "http://localhost:3000/question",
            crossDomain : true,
            dataType: "json",
            })
            
            .done(function( msg ) {

                //console.log(msg);
                if(msg.answer==false){
                    msg.answer="false";
                }
                $("#allQueId").show();
                $("#score_btn").show();
                $("#que_btn_add").show();
                $("#que_add").hide();
                $("#lets_play_btn").hide();

            var displayQuestions = function(element, index, array){

                var $item = $('<div id="allQueId" class="btn">' +
                            '<label>Question : </label><input type="text" name="que" id="queId'+ index +'"><br>' +
                            '<label>Answer : </label><input type="text" name="ans" id="ansId'+ index +'"><br></div>' +
                            '<input type="button" value="Send" id="sendBtnId'+ index + '"><br>');

                $("#show_que").append($item);
             $("#queId" + index).val(array[index].question);

            }

            msg.forEach(displayQuestions);
              

            var getAnswers = function(element, index, array){

                $("#sendBtnId" + index).click(function(){
                    alert("Your Answer has been Recorded..!");

                    var ans = $("#ansId" + index).val();
                    var ansId = array[index]._id;
                    var actualAns = array[index].answer;
                   
                   // console.log(ans);
                    //console.log(ansId);

                    var data = {
                        "ans_id" : ansId,
                        "possibleAns" : ans,
                        "answer" : actualAns
                    }
                    var dataJSON = JSON.stringify(data);
                   // console.log(JSON.stringify(data));
                    $.ajax({

                        method: "POST",
                        url: "http://localhost:3000/answer",
                        crossDomain : true,
                        dataType: "json",
                        data : data
                        })

                        .done(function( msg ) {

                            //console.log(msg);
                            if(msg.answer==false){
                                msg.answer="false";
                            }


                        })

                });
            }
            msg.forEach(getAnswers);

        });    
    });

    </script> 
</body>
</html>